body {
    background-image: url(../img/top-background.png);
    background-repeat: repeat-x;
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: table;
    clear: both;
}


/* fix the height and center position of element */

.w {
    width: 940px;
    margin: 0 auto;
}

.header {
    /* background-color: forestgreen; */
    padding-top: 37px;
    padding-bottom: 46px;
}

.logo {
    margin-left: 15px;
}

.nav {
    float: right;
    margin-top: 22px;
}

.nav li {
    float: left;
    padding: 0 10px 8px;
    border-left: #e6e6e6 dotted 1px;
}

.nav a {
    font: bold 14px Georgia;
    color: #666;
    text-decoration: none;
}

.nav a:hover {
    color: #a1a1a1;
    text-decoration: underline;
}

.nav p {
    font: 11px Tahoma;
    color: #b7b7b7;
}

.banner {
    height: 355px;
    background-image: url(../img/banner/shadow.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
}

.pointer {
    position: absolute;
    top: 314px;
    left: 15px;
}

.pointer a {
    float: left;
    width: 17px;
    height: 17px;
    background-image: url(../img/banner/dot.png);
    margin-left: 4px;
}

.pointer a:hover,
.pointer .selected {
    background-image: url(../img/banner/dot-selected.png);
}

.content h1 {
    text-align: center;
    font: bold 24px Georgia;
    color: black;
    padding: 7px 0 20px 0;
    background-image: url(../img/content/break.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 38px;
}


/* three div content in the center */

.content .pl,
.content .cs,
.content .uc,
.contact .sc,
.contact .co,
.contact .nu {
    float: left;
    width: 300px;
}

.content .cs,
.contact .co {
    margin: 0 20px;
}

.content h2 {
    color: #11719e;
    font: bold 21px Georgia;
}

.content .subTitle {
    color: #8c8c8c;
    font: 12px Georgia;
}

.imgDiv {
    background-image: url(../img/content/img-bg.png);
    background-repeat: no-repeat;
    /* background-position:  */
    margin: 16px 0 10px 0;
    text-align: center;
    padding-top: 12px;
}

.contents {
    color: #3e3e3e;
    font: 13px Helvetica;
    height: 92px;
}

.content .learnMore {
    display: block;
    width: 163px;
    height: 40px;
    background-image: url(../img/content/learnMore.png);
    background-repeat: no-repeat;
    color: #016999;
    font: 12px/40px Helvetica;
    text-decoration: none;
    text-indent: 1em;
    margin-bottom: 38px;
}

.contact {
    background-image: url(../img/content/break.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.contact .txt {
    width: 276px;
    height: 33px;
    background-image: url(../img/input.png);
    background-repeat: no-repeat;
    _background-attachment: fixed;
    border: none;
    padding: 0;
    margin: 0px 0px 16px 0px;
    padding: 0 10px;
    line-height: 33px;
}

.contact .tarea {
    width: 276px;
    height: 114px;
    background-image: url(../img/textarea.png);
    background-repeat: no-repeat;
    _background-attachment: fixed;
    border: none;
    resize: none;
    padding: 10px;
    margin: 0;
    overflow: auto;
}

.contact .btn {
    width: 163px;
    height: 32px;
    background-image: url(../img/btn2.png);
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 11px;
    margin-bottom: 23px;
    color: white;
    font: 13px georgia;
    text-align: left;
    text-indent: 1em;
    cursor: pointer;
}

.contact h2 {
    color: #444;
    font: 18px/1 georgia;
    border-bottom: 1px dashed #e3e3e3;
    padding: 44px 0 10px 0;
    margin-bottom: 15px;
}

.sc p {
    color: #444;
    font: 12px/1 Helvetica;
}

.sc .ico {
    margin-top: 8px;
    font-size: 0;
}

.sc a {
    margin-right: 6px;
}

.sc .nl {
    font: bold 18px/1 "Gill Sans MT";
    padding: 30px 0 10px;
    /* margin-bottom: 7px; */
}

.sc .txt {
    margin-bottom: 1px;
    margin-top: 15px;
    _margin-top: 16px;
}

.nu img {
    float: left;
    margin-right: 8px;
}

.nu p {
    color: #444;
    font: 12px/1 Helvetica;
    height: 58px;
    _height: 60px;
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 14px;
    padding-bottom: 9px;
}


/* For IE6 */

.nu .btn {
    _margin-left: -1em;
}

.nu p:last-of-type {
    margin-bottom: 0px;
}

.footer {
    height: 173px;
    background: #333;
    border-top: #4c4c4c 10px solid;
}

.footer a,
.footer p {
    color: #999;
    font: 11px Helvetica;
    text-decoration: none;
}

.footer a:hover {
    color: #cccaca;
    text-decoration: underline;
}

.footer .copyright {
    float: right;
    /* using one bug to solve double edge of IE6 */
    display: inline;
}

.footer .w {
    padding-top: 18px;
}

.footer p {
    padding-left: 20px;
    padding-right: 23px;
    margin-bottom: 6px;
}